/*      NAV     */
.logo img{
    width: 60px;
    height: auto;

}

nav{
    background-color: white;
}


.navbar-dark .navbar-nav .nav-link{
    color: #000;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover{
    color: orange;
}

